{% extends "layout.html" %}
{% block body_content %}

<form action="" method="get">
	{% for post in planets %}
	<div>
		<h3>{{ post.name }}</h3>
		<p><b> Year of Discovery: </b>{{ post.year_of_discovery }} <b> &emsp; Mass: </b>{{ post.mass }} <b> &emsp; Radius: </b>{{ post.radius }} <b> &emsp; Semi-Major Axis: </b>{{ post.semi_major_axis }} &emsp; <input type="checkbox" name="favourite" value="yes"> </p> <br>
	</div>
	{% endfor %}
	<input type="submit" value="Submit">
</form>
	
{% endblock body_content %}

