{% extends "layout.html" %}
{% block body_content %}

<form action="" method="get">
	{% for post in posts %}
	<div>
		<h3>{{ post.name }}</h3>
		<p><b> - Year of Discovery: </b>{{ post.year_of_discovery }}</p>
		<p><b> - Mass: </b>{{ post.mass }}</p>
		<p><b> - Radius: </b>{{ post.radius }}</p>
		<p><b> - Semi-Major Axis: </b>{{ post.semi_major_axis }}</p>
		<input type="checkbox" name="favourite"
		value="no">
	</div>
	{% endfor %}
	<input type="submit" value="Submit">
</form>
	
{% endblock body_content %}

